html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#122f3f;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e3f3fd;
}


.content{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    background-color: #ffffff;
    width:350px;
    height: auto;
}

    #clear{
        margin-top: 10px;
        display: block;
        width:50px;
        border-bottom: 1px dotted #9abed5;
    }
    .mortgage{
        width: 100%;
    }

        form{
            margin-top:20px;
        }

        .ammount, .term, .interest{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

            .inp_amm, .inp_trm, .inp_int{
                width: 100%;
                height:40px;
                position:relative;
            }
            #ammount, #term, #interest{
                border: 1px solid #6b94a8;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            .inp{
                text-align: center;
                line-height: 40px;
                width: 38px;
                height: 38px;
                color:#4e6e7e;
                font-weight: 900;
                position: absolute;
                border-radius: 5px 0 0 5px ;
                background-color:#e3f3fd80;
            }
                .trm_pad{
                    padding-left: 5px;
                    padding-right: 65px;
                }
                .amm_pad{
                    padding-left: 42px;
                    padding-right: 5px;
                }
                .int_pad{
                    padding-left: 5px;
                    padding-right: 43px;
                }

                #p_amm{
                    top:1px;
                    left: 1px;
                }

                #p_trm{
                    width: 60px;
                    top:1px;
                    right: 1px;
                }

                #p_int{
                    top:1px;
                    right: 1px;
                }     
        .radio{
            position: relative;
            width:100%;
            height:40px;
            border: 1px solid #6b94a8;
            border-radius: 5px;
            line-height: 40px;
        }

        .paragraf{
            margin-bottom: 10px;
            color:#4e6e7e;
            font-size: 0.8rem;
        }

        input[type='radio']{
            position: absolute;
            width: 20px;
            height: 20px;
            top:10px;
            left:10px;
        }

        label.inp_radio{
            position: relative;
            left:50px;
        }

        .checked {
            accent-color:  #d7da2f40;
          }

        .radio .checked:checked~.ring{
            position:absolute;;
            display: block;
            border: 3.5px solid white;
            top:11px;
            left:31px;
            width:18px;
            height: 18px;
            border-radius: 50%;
        } 

        .pozadina{
            background: #d7da2f40;
            border-color:#d7da2f;
        } 

        .inp_radio{
            padding:0;
            margin:0;
            margin-left:20px;
        }

        button{
            position: relative;
            font-size: 1rem;
            font-weight: 700;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            background-color:#d7da2f;
            border-radius: 20px;
            border-color: #434405;
            line-height: 40px;
            margin-bottom: 20px;
            }
            button p{
                margin-left: 10px;
                position: relative;
                top:2px;
            }

.result{
    background-color: #122f3f;
    width: calc(100% + 40px);
    height:100%;
    position: relative;
    left:-20px;
    color: #e3f3fd;
}
    .description{
        display: none;
        margin-top: 10px;
        /* display: flex; */
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        .text h3{
            font-size: 1.3rem;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .text p{
            text-align: center;
            color: #9abed5;
            font-size:0.85rem;
            margin-bottom: 20px;
        }

        .output{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            padding: 20px;
        }
            .output>h3{
                margin-bottom: 20px;
            }

            .output p{
                font-size: 0.8rem;
                color:#9abed5;
                margin-bottom: 20px;
                text-align: justify;
            }
            
            .printout{
                border-radius: 3px;
                background-color:#0b2330;
                box-shadow: 0px -3px 0px 0px #D7DA2F;
            }
.colors{
    /* primarne */
    color:#d7da2f;
    color:#d73328;
    /* neutralne */
    color:#ffffff;
    color:#e3f3fd;
    color:#9abed5;
    color:#6b94a8;
    color:#4e6e7e;
    color:#122f3f;

}